body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

#home {
    height: 75vh;
}

h1 {
    color: #fbfbfb;
}

.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 0.671)
}

input,
textarea {
    background-color: transparent !important;
    color: #bda2ad !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(215, 206, 206) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;
}
button{
    background-color: #24353f;
    color: #17a3b8;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:solid #17a3b8;
}
button:hover{
    background-color:#17a3b89c;
    color: white;
    
}
p a{
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}